@import "src/styles/tools.scss";

.home-screen {
  height: 100%;
  background: red;
  &__body {
    background: orange;
    position: relative;
    .swiper-container {
      margin-bottom: 50px;
    }
    .tables {
      padding: 2em 5em;
      &__section-1 {
        @include uptoMd {
          @include grid(1em, center, center, 1fr, auto);
        }
        @include grid(2em, center, flex-start, 1fr 1fr, auto);
        // background: green;
      }
      &__section-2-sizing {
        @include uptoMd {
          @include grid(1em, center, center, 1fr, auto);
        }
        @include grid(2em, center, flex-start, 1fr 1fr, auto);
        // background: green;
      }
      &__section-3-savings-calculation {
        @include uptoMd {
          @include grid(1em, center, center, 1fr, auto);
        }
        @include grid(2em, center, flex-start, 1fr 1fr, auto);
        // background: green;
      }
    }
  }
}

.cont {
  background: yellow;
  
  @include grid(1em, center, flex-start, 1fr 1fr, auto);
}

.tables {
  background: lightgreen;
  padding: 2em 5em;
  &__section-1 {
    .table {
      margin-bottom: 20px;
      padding: 30px 30px;
    }
    @include uptoMd {
    }
    @include grid(1em, center, center, 1fr, auto);
    // @include grid(2em, center, flex-start, 1fr 1fr, auto);
    // background: green;
  }
  &__section-2-sizing {
    @include uptoMd {
      @include grid(1em, center, center, 1fr, auto);
    }
    @include grid(2em, center, flex-start, 1fr 1fr, auto);
    // background: green;
  }
  &__section-3-savings-calculation {
    @include uptoMd {
      @include grid(1em, center, center, 1fr, auto);
    }
    @include grid(2em, center, flex-start, 1fr 1fr, auto);
    // background: green;
  }
}
