@import "src/styles/tools.scss";

.home-screen {
  height: 100%;
  background: red;
  &__body {
    background: orange;
    .swiper-container {
      margin-bottom: 50px;
    }
    .tables {
      @include uptoMd {
        @include grid(1em, center, center, 1fr, auto);
      }
      @include grid(2em, center, flex-start, 1fr 1fr, auto);
      padding: 2em 5em;
      background: green;
    }
  }
}
