.solo {
  div {
    margin-right: 40px;
  }
  display: flex;
  flex-direction: row;
  background: black;
}
.card {
  width: 150px;
  height: 150px;
  background: lightcoral;
}
.element {
  width: 100px;
  height: 40px;
  background: lightpink;
}
.board {
  width: 500px;
  height: 500px;
  background: lightseagreen;
}
