@import "src/styles/tools.scss";

.home-screen {
  height: 100%;
  background: red;
  &__body {
    background: orange;
    position: relative;
    .swiper-container {
      margin-bottom: 50px;
    }
    &__tables-and-picture {
      @include grid(1em, center, flex-start, 1.3fr 1fr, auto);
      margin-top: 150px;
      &__pic {
        margin-top: 100px;
      }
    }
    .tables {
      padding: 2em 5em;
      &__section-1 {
        .table {
          // background: red;
          &__title {
            font-family: Helvetica-Bold;
            font-weight: bold;
            font-size: 18px;
            color: #193a77;
            letter-spacing: 0;
            line-height: 24px;
          }
        }
        @include uptoMd {
          // @include grid(1em, center, center, 1fr, auto);
        }
        @include grid(1em, center, center, 1fr, auto);
        // background: green;
      }
      &__section-2-sizing {
        @include uptoMd {
          // @include grid(1em, center, center, 1fr, auto);
        }
        @include grid(1em, center, center, 1fr, auto);
        // background: green;
      }
      &__section-3-savings-calculation {
        @include uptoMd {
          @include grid(1em, center, center, 1fr, auto);
        }
        @include grid(2em, center, flex-start, 1fr 1fr, auto);
        // background: green;
      }
    }
  }
}

// .cont {
//   background: yellow;

//   @include grid(1em, center, flex-start, 1fr 1fr, auto);
// }

// .tables {
//   background: lightgreen;
//   padding: 2em 5em;
//   &__section-1 {
//     .table {
//       margin-bottom: 20px;
//       padding: 30px 30px;
//     }
//     @include uptoMd {
//     }
//     @include grid(1em, center, center, 1fr, auto);
//     // @include grid(2em, center, flex-start, 1fr 1fr, auto);
//     // background: green;
//   }
//   &__section-2-sizing {
//     @include uptoMd {
//       @include grid(1em, center, center, 1fr, auto);
//     }
//     @include grid(2em, center, flex-start, 1fr 1fr, auto);
//     // background: green;
//   }
//   &__section-3-savings-calculation {
//     @include uptoMd {
//       @include grid(1em, center, center, 1fr, auto);
//     }
//     @include grid(2em, center, flex-start, 1fr 1fr, auto);
//     // background: green;
//   }
// }
