@import "src/styles/tools.scss";
@import "src/styles/fonts.scss";

.home-screen {
  height: 100%;
  // background: red;
  &__body {
    height: 100%;
    // background: orange;
    position: relative;
    .swiper-container {
      margin-bottom: 50px;
    }
    &__tables-and-picture {
      height: 100%;
      @include grid(1em, center, flex-start, 1.3fr 1fr, auto);
      margin-top: 150px;
      &__pic {
        margin-top: 100px;
      }
    }
    .tables {
      padding: 2em 5em;
      // &__section-1 {
      .table {
        margin-top: 3em;
        // background: red;
        &__title {
          @include table-title();
          padding-left: 1em;
        }
        .tableCell-value {
          position: relative;
          .value-and-mandatory {
            // position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .mandatory {
              color: red;
              position: absolute;
              right: 20px;
              top: 0;
            }
          }
        }
        .table-units {
          @include table-units();
        }

        .table-units-in-input {
          @include table-units-in-input();
          position: absolute;
          top: 32px;
        }
        .row-text {
          @include row-text();
        }
      }
      @include uptoMd {
        // @include grid(1em, center, center, 1fr, auto);
      }
      @include grid(1em, center, center, 1fr, auto);
      // background: green;
      // }
      &__section-2-sizing {
        @include uptoMd {
          // @include grid(1em, center, center, 1fr, auto);
        }
        @include grid(1em, center, center, 1fr, auto);
        // background: green;
      }
      &__section-3-savings-calculation {
        @include uptoMd {
        }
        @include grid(1em, center, center, 1fr, auto);
        // @include grid(2em, center, flex-start, 1fr 1fr, auto);
        // background: green;
      }
    }
  }
}

// .cont {
//   background: yellow;

//   @include grid(1em, center, flex-start, 1fr 1fr, auto);
// }

// .tables {
//   background: lightgreen;
//   padding: 2em 5em;
//   &__section-1 {
//     .table {
//       margin-bottom: 20px;
//       padding: 30px 30px;
//     }
//     @include uptoMd {
//     }
//     @include grid(1em, center, center, 1fr, auto);
//     // @include grid(2em, center, flex-start, 1fr 1fr, auto);
//     // background: green;
//   }
//   &__section-2-sizing {
//     @include uptoMd {
//       @include grid(1em, center, center, 1fr, auto);
//     }
//     @include grid(2em, center, flex-start, 1fr 1fr, auto);
//     // background: green;
//   }
//   &__section-3-savings-calculation {
//     @include uptoMd {
//       @include grid(1em, center, center, 1fr, auto);
//     }
//     @include grid(2em, center, flex-start, 1fr 1fr, auto);
//     // background: green;
//   }
// }
