@import "./tools.scss";
.dad-Screen {
  background: red;
  position: relative;
  height: 100vh;
  .dad-container {
    @include grid(10px, center, center, 300px 3fr 1fr, auto);
    margin-right: 20px;
    height: 100vh;
    &__elements-toolbar {
      height: 100%;
      background: $PurpleHaze;
      display: flex;
      align-items: center;
      justify-content: center;
      &__element {
        margin-bottom: 20px;
      }
    }
    &__arrows-container {
      border: 3px solid green;
      height: 300px;
      background: blue;
      @include grid(10px, center, center, auto auto, auto);
      button {
        background: green;
        width: 40px;
        height: 40px;
      }
    }
  }
}
.room {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.room-square {
  background: green;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
}
.room-circle {
  background: green;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.room-rectangle {
  background: green;
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
}
.room-aircon {
  background: yellow;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
}
.room-lamp {
  background: yellow;
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
}

.smooth-dnd-container {
  // background: lightblue
}
.smooth-dnd-draggable-wrapper {
  // background: orange
}

.smooth-dnd-container.horizontal {
  display: flex !important;
  // justify-content: space-between;
}

// dragablle
.react-draggable {
  display: table;
}

.draggable {
  @include grid(10px, center, center, 1fr 1fr, auto);
  // width: 1500px;
  padding-right: 100px;
  // margin-left: 100px;
  height: 100%;
  background: brown;
  &__toolbar {
    background: orange;
    height: 100%;
    width: 400px;
  }
  .floor {
    border: 2px solid black;
    height: 50em;
    width: 100em;
    // z-index: 20;
    // position: relative;
    // background: lightblue;
  }
  .clear-button {
    position: absolute;
    right: 20px;
    top: 80px;
    width: 150px;
    height: 100px;
    font-size: 24px;
  }
}
