//////////////////////
// general app declaration
//////////////////////
$PurpleHaze: #7d7098;

@mixin grid(
  $gap: 10px,
  $justify: initial,
  $alignItems: initial,
  $template-cols: initial,
  $template-rows: initial,
  $areas: initial
) {
  display: grid;
  grid-gap: $gap;
  justify-content: $justify;
  align-items: $alignItems;
  grid-template-columns: $template-cols;
  grid-template-rows: $template-rows;
  grid-template-areas: $areas;
}
button {
  border: none;
  background: transparent;
  :focus {
    outline: 0;
  }
}

@mixin clean-button {
  border: none;
  background: transparent;
  :focus {
    outline: 0;
  }
}
